<!DOCTYPE html>
{% load static %} <!-- Cargar estáticos en el archivo base -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestión de Eventos{% endblock %}</title>
</head>
<body>
    <!-- Barra de navegación -->
    <header>
    </header>

    <!-- Bloque de contenido (modificable en las plantillas específicas) -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2025 Gestión de Eventos</p>
    </footer>
</body>
</html>